<app-header></app-header>
<div class="body">
    <div class="connections">
        <div class="device-master">
            <app-device device="Portaria" imgPath="./assets/images/device_plc_siemens.png"></app-device>
        </div>
        <div class="grid">
            <app-grid></app-grid>
        </div>
        <div class="slot-slave">
            <div class="device-slave">
                <app-device device="Setor G1" imgPath="./assets/images/device_logo_siemens.png"></app-device>
            </div>
            <div class="device-slave">
                <app-device device="Setor G2" imgPath="./assets/images/device_logo_siemens.png"></app-device>
            </div>
            <div class="device-slave">
                <app-device device="Setor Transporte"  imgPath="./assets/images/device_logo_siemens.png"></app-device>
            </div>
            <div class="device-slave">
                <app-device device="Setor Adm" imgPath="./assets/images/device_logo_siemens.png"></app-device>
            </div>
            <div class="device-slave">
                <app-device device="Setor Galpão Resíduos" imgPath="./assets/images/device_logo_siemens.png"></app-device>
            </div>
        </div>
    </div>
    <div class="status">
        <app-status></app-status>
    </div>
</div>
<app-footer></app-footer>