<app-header></app-header>
<div class="body">
    <div class="connections">
        <div class="device-master">
            <app-device title="Portaria" device="portaria" imgPath="./assets/images/device_plc_siemens.png"></app-device>
        </div>
        <div class="grid">
            <app-grid></app-grid>
        </div>
        <div class="slot-slave">
            <div class="device-slave">
                <app-device title="Setor G1" device="g1" imgPath="./assets/images/device_logo_siemens.png"></app-device>
            </div>
            <div class="device-slave">
                <app-device title="Setor G2" device="g2" imgPath="./assets/images/device_logo_siemens.png"></app-device>
            </div>
            <div class="device-slave">
                <app-device title="transporte" device="transporte"  imgPath="./assets/images/device_logo_siemens.png"></app-device>
            </div>
            <div class="device-slave">
                <app-device title="Setor Adm" device="adm" imgPath="./assets/images/device_logo_siemens.png"></app-device>
            </div>
            <div class="device-slave">
                <app-device title="Galpão Resíduos" device="residuos" imgPath="./assets/images/device_logo_siemens.png"></app-device>
            </div>
        </div>
    </div>
    <div class="status">
        <app-status></app-status>
    </div>
</div>
<app-footer></app-footer>