.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.connections {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.device-master {
  display: block;
  height: 70px;
  width: 250px;
  z-index: 100;
}

.grid {
  display: block;
  height: 80px;
  width: 80%;
  margin-bottom: -70px;
}

.slot-slave {
  display: flex;
  flex-flow: row;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin: 40px;
}

.device-slave {
  display: block;
  height: 70px;
  width: 250px;
  z-index: 100;
}

@media (min-width: 1080px) {
  .container {
    transform: scale(0.7);
  }
}

@media (min-width: 1440px) {
  .container {
    transform: scale(0.9);
  }
}
