<app-filter-tags (tagsChanged)="onTagsChanged($event)"></app-filter-tags>
<div class="container">
  <div class="card scrollable-component">
    <table class="table table-striped">
      <thead class="table-light">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Local de Acionamento</th>
          <th scope="col">Reconhece</th>
          <th scope="col">Data do evento</th>
          <th scope="col">Hora do acionamento</th>
          <th scope="col">Hora do desligamento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of records">
          <td scope="row">{{ record.evento_id }}</td>
          <td>{{ record.local_acionamento }}</td>
          <td scope="row">{{ record.reconhece.toString().toUpperCase() }}</td>
          <td>{{ record.data_evento | date : "dd-MM-yyyy" }}</td>
          <td>{{ record.hora_acionamento.split(".", 1) }}</td>
          <td>{{ record.hora_desligamento.split(".", 1) }}</td>
          <tfoot *ngIf="!records.length">
            <tr>
              <td colspan="6">Nenhum registro encontrado.</td>
            </tr>
          </tfoot>
        </tr>
      </tbody>
    </table>
  </div>
</div>
