<div class="container">
  <div
    class="card scrollable-component"
  >
    <table
      class="table table-striped"
    >
      <thead class="table-light">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Local de Acionamento</th>
          <th scope="col">Reconhece</th>
          <th scope="col">Data do evento</th>
          <th scope="col">Hora do acionamento</th>
          <th scope="col">Hora do desligamento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of records">
          <td scope="row">{{ record.id }}</td>
          <td>{{ record.location }}</td>
          <td scope="row">{{ record.recognizes }}</td>
          <td>{{ record.eventDate }}</td>
          <td>{{ record.activatedAt }}</td>
          <td>{{ record.deactivatedAt }}</td>
          <tfoot *ngIf="!records.length">
            <tr>
              <td colspan="6">Nenhum registro encontrado.</td>
            </tr>
          </tfoot>
        </tr>
      </tbody>
    </table>
  </div>
</div>
